<div style="padding-bottom:0px;padding-top:50px;display: none;" class="Approval" id="approve-join">
    <table class="Approval_turn">
        <tbody>
        <tr class="first">
            <th class="font14 width-80">邀请人员：</th>
            <td>
                <div class="p-bt10" style="width:80%;" id="joinApprovesDiv">
                    <div class="relative inlineblock" id="addJoinApprove" >
                        <span class="UserImg inlineblock ie-css3"></span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td>
                <div style="width:760px;" class="Approval_inner ie-css3 mart10">
                    <textarea placeholder="请填写邀请意见：" class="mart10"></textarea>
                    <!--<div class="Annex_list">-->
                    <!--<ul class="clearfix">-->
                    <!--<li class="clearfix">-->
                    <!--<span class="an_logo floatleft"><img src="/img/fu_docx.gif"></span>-->

                    <!--<p contenteditable="true" class="mart5 txt_hidden edit">2014年第一季度产品规划.xls</p>-->

                    <!--<p class="color-8 clearfix marr10 alignright">-->
                    <!--<span class="floatleft">34M</span>-->
                    <!--<span>-->
                    <!--<a href="">重命名</a>-->
                    <!--<a href="">删除</a>-->
                    <!--</span>-->
                    <!--</p>-->

                    <!--<div class="process_box alignright clearfix">-->
                    <!--<div class="process_bar floatleft">-->
                    <!--<span style="width:40%;" class="process_bar_in"></span>-->
                    <!--</div>-->
                    <!--<span class="floatleft">40%</span>-->
                    <!--<a href="#">取消</a>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                    <!--<span class="an_logo floatleft"><img src="/img/fu_mp3.gif"></span>-->

                    <!--<p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>-->

                    <!--<p class="color-8 clearfix marr10 alignright">-->
                    <!--<span class="floatleft">34M</span>-->
                    <!--<span>-->
                    <!--<a href="">重命名</a>-->
                    <!--<a href="">删除</a>-->
                    <!--</span>-->
                    <!--</p>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                    <!--<span class="an_logo floatleft"><img src="../img/fu_pdf.gif"></span>-->

                    <!--<p class="mart5 txt_hidden">2014年第一季度产品规划.xls</p>-->

                    <!--<p class="color-8 clearfix marr10 alignright">-->
                    <!--<span class="floatleft">34M</span>-->
                    <!--<span>-->
                    <!--<a href="">重命名</a>-->
                    <!--<a href="">删除</a>-->
                    <!--</span>-->
                    <!--</p>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--上传的图片begin-->
                    <!--<ul class="acc_list marl10 clearfix">-->
                    <!--<li>-->
                    <!--<div class="block ie-css3"><p></p></div>-->
                    <!--<div class="process_box alignright clearfix">-->
                    <!--<div class="process_bar floatleft">-->
                    <!--<span style="width:40%;" class="process_bar_in"></span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="Icon ico-delete4" href="javascript:;"></a>-->

                    <!--<div class="block ie-css3"><p><img src="/img/img1.png"></p></div>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="Icon ico-delete4" href="javascript:;"></a>-->

                    <!--<div class="block ie-css3"><p><img src="/img/img1.png"></p></div>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--上传的图片over-->
                    <p class="mart10 clearfix app_p alignright">
                        <a class="floatleft add" href="#"><i class="Icon ico-acc"></i> 添加附件</a>
                        <label class="marr10"><input type="checkbox"> 是否关注审批动态</label>
                        <a class="Btn btn-make floatright btn-sure" href="#">确 定</a>
                        <a class="Btn btn-make floatright btn-quit" href="#">取 消</a>
                    </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>