<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>明道OA</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css">
    <link rel="stylesheet" href="/css/appstyle.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/jscrollpane.css" type="text/css">
    <link rel="shortcut icon" href="/view/favicon.ico"/>
</head>
<body>
<div class="home_page">
    <div class="nodata aligncenter">
        <p><img src="/img/404.png"></p>
        <p class="font30 color-3 p-top20 p-bt20">哎呀，您访问的页面逃出地球啦！</p>
        <p class="color-8 p-top10">您输入的网址错误，或者该页面已被移除</p>
        <p><a class="new_btn aligncenter mart20 font14" href="/platform/desktop">返回首页</a></p>
    </div>
</div>
</body>
</html>