<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>明道OA</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css">
    <link rel="stylesheet" href="/css/appstyle.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/jscrollpane.css" type="text/css">
    <link rel="shortcut icon" href="/view/favicon.ico"/>
</head>
<body>
<div class="home_page">
    <!--更新浏览器begin-->
    <div style="display: ;" class="pop pop_ie">
        <div class="popIn">
            <p class="aligncenter p-top40"><img src="../img/slogan.png"></p>

            <div class="explorer mart30 aligncenter">
                <p>
                    <a target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/"><img src="/img/chrome.png"></a>
                    <a target="_blank" href="http://www.firefox.com.cn/"><img src="/img/firefox.png"></a>
                    <a target="_blank" href=""><img src="/img/lb.png"></a>
                    <a target="_blank" href="http://chrome.360.cn/"><img src="/img/360.png"></a>
                </p>
            </div>
        </div>
    </div>
    <!--更新浏览器over-->
</div>
</body>
</html>