<div class="doc_preview" id="attPreview" style="display: none;z-index: 99999;">
    <div class="header">
        <a class="off" href="javascript:;"><i class="icon-close font22 color-white"></i></a>
        <span id="att-name">&nbsp;</span>
        <div class="doc_btn_item alignleft floatright">
            <a href="javascript:;" style="display: none;" id="originalBtn" target="_blank"><i style="vertical-align: -3px;" class="font16 icon-image"></i>&nbsp;&nbsp;查看原图</a>
            <a href="javascript:;" style="display: none;" id="fileDownloadBtn" target="_blank"><i style="vertical-align: -3px;" class="font16 icon-cloud-download2"></i>&nbsp;&nbsp;下载</a>
            <!--<a href="javascript:;"><i class="font16 icon-zoom-in"></i></a>-->
            <!--<a href="javascript:;"><i class="font16 icon-zoom-out"></i></a>-->
            <!--<a href="javascript:;"><i class="font20 icon-rotate-left"></i></a>-->
            <!--<a href="javascript:;"><i class="font20 icon-rotate-right"></i></a>-->
        </div>
    </div>
    <!--左侧文件区域begin-->
    <div class="doc_view">
        <div class="doc_view_inner">
            <!--<a class="go_left" href="javascript:;"><i class="icon-rewind"></i></a>-->
            <!--<a class="go_right" href="javascript:;"><i class="icon-play"></i></a>-->
            <div class="doc_view_inner">
                <iframe id="platform-office-iframe" name="platform-office-iframe" src="/view/common/blank.html" width="99%" height="96%" frameborder="0" scrolling="yes" style="display: none;"></iframe>
                <!--图片在这显示begin-->
                <div class="doc_view_img aligncenter" style="display: none;">
                    <span><img style="width:600px;max-width:80%;height:auto;" src=""></span>
                </div>
                <!--图片在这显示over-->
            </div>
        </div>
    </div>
    <!--左侧文件区域over-->
    <!--右侧文件列表begin-->
    <div class="doc_list">
        <div class="Annex_list doc_list_inner jscroll" id="attPreviewDataDIV">
            <ul class="doc_list_ul clearfix">
            </ul>
            <ul class="doc_img_list clearfix">
                <!--<li><img src="../img/img1.png"/></li>-->
                <!--<li class="nomarr"><img src="../img/ico_pro.png"/></li>-->
                <!--<li><img src="../img/img1.png"/></li>-->
                <!--<li class="nomarr"><img src="../img/ico_pro.png"/></li>-->
                <!--<li><img src="../img/img1.png"/></li>-->
                <!--<li class="nomarr"><img src="../img/ico_pro.png"/></li>-->
                <!--<li><img src="../img/img1.png"/></li>-->
                <!--<li class="nomarr"><img src="../img/ico_pro.png"/></li>-->
            </ul>
        </div>
    </div>
    <!--右侧文件列表over-->
</div>