
<div class="list_main" style="width:1000px;position: absolute;top:50%;display: none;" id="reportLogScreen">
    <div class="r_btn" id="reportLogDataControl" style="display: none;">
        <a class="Icon ico-re reportLogRefresh disabled" href="javascript:;"></a>
        <a class="Icon ico-prev reportLogPrevPage disabled" href="javascript:;"></a>
        <a class="Icon ico-next reportLogNextPage disabled" href="javascript:;"></a>
    </div>
    <table class="list_table list_table_title">
        <thead>
        <tr>
            <th >统计类型</th>
            <th class="width-140">统计时间</th>
            <th class="width-180">统计时段</th>
            <th class="width-140">统计人</th>
            <th class="width-100">记录数</th>
            <th class="width-100">状态</th>
        </tr>
        </thead>
    </table>
    <div  class="list_table_box">
        <div style="top: 0px;" class="list_table_in" page="1">
            <table class="list_table list_table_tj">
                <tbody ></tbody>
            </table>
        </div>
    </div>
</div>