
<div class="list_main" style="width:1000px;position: absolute;top:50%;display: none;" id="reportPermissionScreen">
    <div class="r_btn" id="reportPermissionDataControl" style="display: none;">
        <a class="Icon ico-re reportPermissionRefresh disabled" href="javascript:;"></a>
        <a class="Icon ico-prev reportPermissionPrevPage disabled" href="javascript:;"></a>
        <a class="Icon ico-next reportPermissionNextPage disabled" href="javascript:;"></a>
    </div>
    <table class="list_table list_table_title">
        <thead>
        <tr>
            <th class="width-160">统计类型</th>
            <th>许可人</th>
        </tr>
        </thead>
    </table>
    <div  class="list_table_box">
        <div style="top: 0px;" class="list_table_in" page="1">
            <table class="list_table ">
                <tbody ></tbody>
            </table>
        </div>
    </div>
</div>