
<div class="list_main" style="width:1000px;position: absolute;top:50%;display: none;" id="taskHistoryScreen">
    <div class="r_btn" id="taskHistoryDataControl" style="display: none;">
        <a class="Icon ico-re taskHistoryRefresh disabled" href="javascript:;"></a>
        <a class="Icon ico-prev taskHistoryPrevPage disabled" href="javascript:;"></a>
        <a class="Icon ico-next taskHistoryNextPage disabled" href="javascript:;"></a>
    </div>
    <table class="list_table list_table_title">
        <thead>
        <tr>
            <th class="width-80">状态</th>
            <th>标题</th>
            <th class="width-180">申请人</th>
            <th class="width-160">申请时间</th>
        </tr>
        </thead>
    </table>
    <div  class="list_table_box">
        <div style="top: 0px;" class="list_table_in" page="1">
            <table class="list_table">
                <tbody ></tbody>
            </table>
        </div>
    </div>
</div>